@import "~mixins.scss";

$shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

:host {
    @include noselect;
	@include center-absolute;
	
	will-change: opacity;

    display: table;
    padding: 0 32px;
    text-align: center;
    pointer-events: none;

    h1 {
        color: $text-color;
        font-size: 64px;
		text-shadow: $shadow;
		line-height: 1;
		margin-bottom: 10px;

        .name {
            color: $accent-color !important;
        }
    }

    h2 {
        color: $text-color;
        font-size: 28px;
        text-shadow: $shadow;
    }
}