@import "~mixins.scss";

:host {
	display: inline-block;
	width: 100%;
	color: rgba($text-color, 0.4);
	background-color: rgba($text-color, 0.1);
	border-radius: 8px;
	overflow: hidden;

	table {
		padding: 10px 0;
		width: 100%;
        border-collapse: collapse;
        
        .download {
            cursor: pointer;
            transition: background 250ms ease;

            &:hover {
                background-color: rgba(255, 255, 255, 0.15);
            }

            &:active {
                background-color: rgba(255, 255, 255, 0.22);                
            }
        }

		tr {
			&:nth-child(even) {
				background-color: rgba(255, 255, 255, 0.05);
			}
		}

		th {
			font-weight: bold;
			line-height: 2.5;
		}

		td {
			line-height: 2;
		}

		th, td {
			&:first-child {
				padding-left: 14px;
				text-align: left;
			}

			&:last-child {
				padding-right: 14px;
				text-align: right;
			}
		}
	}
}