@import "~mixins.scss";

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    background-color: $background-color;
    font-family: "Noto Sans", sans-serif !important;
}

h1, h2, h3, h4, p {
    margin: 0;
}

::selection {
	background: $accent-color;
}

::-moz-selection {
	background: $accent-color;
}