@import "~mixins.scss";

:host {
    @include section-light;

    .container {
		@include fill-screen-mobile;

        display: inline-block;
        width: 50vw;        
        font-size: 20px;

        h1 {
            font-size: 32px;
        }

        .blurb {
            text-align: left;
            margin: 16px 0 64px 0;
        }

        .icons {
            display: inline-block;
            font-size: 0;

            .icons-inner {
                img {
                    width: 42px;
                    margin-right: 16px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            @media (max-width: 340px) {
                .icons-inner {
                    display: grid;
                    grid: 1fr 1fr / 1fr 1fr;
                    grid-row-gap: 16px;

                    img[data-icon="facebook"] {
                        display: none;
                    }
                }
            }
		}
    }
}