@import "~mixins.scss";

:host {
    @include section-light;

    .container {
		@include fill-screen-mobile;

        display: inline-block;
        width: 65vw;        
        font-size: 20px;

        h1 {
            font-size: 32px;
        }

        .blurb {
            text-align: left;
            margin: 16px 0 64px 0;

            a, .link {
                cursor: pointer;
                color: $background-color !important;
                text-decoration: underline;
                font-weight: bold;
            }
        }
    }
}