<div class="container">
    <h1>About Me</h1>
    <div class="blurb">
        I love creating beautiful, responsive, and intuitive interfaces. I'm a predominantly self-taught full stack web developer, obsessive learner, and problem solver. I began coding at age 10. I haven't been able to stop since. I grew up on San Juan Island, and I currently reside in Bellevue, Washington. I graduated Coding Dojo with 95%+ on all exams. I'm passionate about privacy, and an avid user of VPNs, IRC and PGP. If you'd like to contact me securely, you can <a href="downloads/dylanbienenstock.asc">download my PGP key.</a>

        <br><br>

        If you have a project you need help with, I'd love to hear from you. Take a look at my <a (click)="_scroll.to('footer')">Contact</a> section or send me an email at <app-email class="link"></app-email>.
    </div>

    <app-social theme="about"></app-social>
</div>