<div class="container">
    <h1>About Me</h1>
    <div class="blurb">
        I'm a self-taught full stack web developer, obsessive learner, and problem solver. I began coding at age 10, and I haven't been able to stop since. I grew up on San Juan Island, and I currently reside in Bellevue, Washington. Let's see how many more "I" sentences I can squeeze in here... I love creating beautiful, responsive, and intuitive interfaces. I'm passionate about privacy. (<a href="downloads/dylanbienenstock.asc">Download my PGP key</a> if you want to send me a <i>super secret message</i>.) I get excited about new web technologies like my dog Kona gets excited about the deer in our yard.

        <br><br>

        If you have a project you need help with, I'd love to hear from you. Take a look at my <a (click)="_scroll.to('footer')">Contact</a> section or send me an email at <app-email class="link"></app-email>.
    </div>

    <app-social theme="about"></app-social>
</div>