@import "~mixins.scss";

$menu-height: 196px;
$menu-padding: 20px;

@media (max-width: 425px) {
	img {
		width: 8vw !important;
	}
}

:host {
    display: none;

    @include mobile {
        display: initial;
    }

    .open {
		@include center-vertical;
		
        width: 32px;
        height: 32px !important;
    }

    .curtain {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        opacity: 0;
        pointer-events: none;
        transition: opacity 300ms ease;
        z-index: 998;
        background-color: black;

        &.visible {
            opacity: 0.8;
            pointer-events: initial !important;
        }
    }

    .menu {
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 0;
        background-color: $background-color;
        text-align: center;
        transition: height 300ms ease;
        z-index: 999;

        &.visible {
            height: $menu-height !important;
            // height: auto !important;
        }
		
		.close {
			pointer-events: none;
			position: absolute;
			left: 0;
			top: 0;
			width: 100vw;
			padding: 16px;
			box-sizing: border-box;
			text-align: right;
			
			img {
				pointer-events: all !important;
				position: relative;
				top: 5px;
				width: 32px;
				height: 32px !important;
				opacity: 0.4;
			}
		}

		.links {
			a {
				@include noselect;
				
				display: block;
				padding-bottom: $menu-padding;
				color: rgba($text-color, 0.4);
				font-size: 18px;

				&:first-child {
					padding-top: $menu-padding;
				}
			}
		}
    }
}