@import "~mixins.scss";

:host {
    display: none;

    @include mobile {
        display: initial;
    }

    img {
        width: 32px;
        height: 32px !important;
    }

    @media (max-width: 425px) {
        img {
            width: 8vw;
        }
    }
}