<div class="container">
    <h1>My Skills</h1>

    <div class="blurb">
        I consider my intrinsic motivation to be one of my greatest assets. I cherish learning, and I do it efficiently. My workflow is consistent, and has been described as "devoted." I spend twice as much time thinking as I spend writing code, and I love collaborating.
    </div>
</div>

<div class="skills">
    <div class="skill-subsection-container">
        <div class="skill-subsection-container-inner">
            <div class="skill-subsection" *ngFor="let skillSubsection of skillSubsections">
                <h1>{{ skillSubsection.name }}</h1>

                <div class="skill" *ngFor="let skill of skillSubsection.skills">
                    <span class="skill-name">{{ skill.name }}</span>

                    <span class="skill-level" [ngSwitch]="skill.level">
                        <span class="skill-level-0" *ngSwitchCase="0">Beginner</span>
                        <span class="skill-level-1" *ngSwitchCase="1">Intermediate</span>
                        <span class="skill-level-2" *ngSwitchCase="2">Proficient</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>