<div class="container">
    <h1>My Skills</h1>

    <div class="blurb">
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
        'Content here, content here', making it look like readable English.
    </div>
</div>

<div class="skills">
    <div class="skill-section-container">
        <div class="skill-section-container-inner">
            <div class="skill-section" *ngFor="let skillSection of skillSections">
                <h1>{{ skillSection.name }}</h1>

                <p *ngFor="let skill of skillSection.skills">{{ skill }}</p>
            </div>
        </div>
    </div>
</div>