<div class="container">
    <h1>My Skills</h1>

    <div class="blurb">
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
        'Content here, content here', making it look like readable English.
    </div>
</div>

<div class="skills">
    <div class="skill-section-container">
        <div class="skill-section-container-inner">
            <div class="skill-section" *ngFor="let skillSection of skillSections">
                <h1>{{ skillSection.name }}</h1>

                <div class="skill" *ngFor="let skill of skillSection.skills">
                    <span class="skill-name">{{ skill.name }}</span>

                    <span class="skill-level" [ngSwitch]="skill.level">
                        <span class="skill-level-0" *ngSwitchCase="0">Beginner</span>
                        <span class="skill-level-1" *ngSwitchCase="1">Intermediate</span>
                        <span class="skill-level-2" *ngSwitchCase="2">Proficient</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>