@import "~mixins.scss";

:host {
    display: block;
    width: 100vw;
    padding: 48px 0;

    color: $text-color;
    background-color: $background-color;

    text-align: center;

    .container {
        display: inline-block;
        width: 50vw;        
        font-size: 20px;

        h1 {
            font-size: 32px;
        }

        .blurb {
            margin: 16px 0 64px 0;
            text-align: left;
        }
    }

    .skills {
        text-align: center;

        .skill-section-container {
            display: inline-block;

            .skill-section-container-inner {
                display: flex;
                flex-flow: row;

                .skill-section {
                    width: 285px;
                    margin-right: 32px;
                    border: 2px solid $text-color;
                    border-radius: 8px;

                    &:last-child {
                        margin-right: 0;
                    }

                    h1 {
                        display: inline-block;
                        padding: 0 8px;
                        transform: translateY(-50%);
                        background-color: $background-color;
                    }

                    p {
                        &:nth-child(even) {
                            background-color: rgba(255, 255, 255, 0.1);
                        }
                    }
                }
            }
        }
    }
}