@import "~mixins.scss";

:host {
    @include section-light;

    div {
        display: inline-block;

        h1 {
            font-size: 32px;
        }
        
        .title {
            width: 100vw;            
        }

        .projects {
            .project-subsection {
                display: flex;
                flex-flow: row nowrap;
                margin-top: 128px;

                &:first-child {
                    margin-top: 72px;
                }

                &:nth-child(even) {
                    .project-subsection-text {
                        margin-right: 0;
                        margin-left: 32px;

                        order: 1;
                    }
                }

                .project-subsection-text {
                    width: 400px;
                    margin-right: 32px;

                    .project-subsection-text-name {
                        margin-bottom: 16px;
                    }

                    .project-subsection-text-description {
                        text-align: left;
                        margin-bottom: 32px;
                    }

                    .project-subsection-text-tags {
                        div {
                            display: inline-block;
                            margin-right: 8px;
                            margin-bottom: 8px;
                            padding: 4px 6px;
                            color: $text-color;
                            background-color: rgba($background-color, 0.65);
                            border-radius: 8px;
                            white-space: nowrap;

                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }

                @media (max-width: 1100px) {
                    flex-flow: column nowrap;
                    margin-top: 0;
                    padding-top: 32px;
                    padding-bottom: 32px;

                    &:first-child {
                        margin-top: 64px;
                    }

                    &:nth-child(even) {
                        background-color: rgba(0, 0, 0, 0.1);
                    }

                    .project-subsection-text {
                        order: 0 !important;

                        width: 100vw;
                        padding-left: 32px;
                        padding-right: 32px;
                        margin-left: 0 !important;                        
                        margin-right: 0 !important;
                        margin-bottom: 32px;                        
                        box-sizing: border-box;

                        h1 {
                            text-align: left;
                            margin-left: 16px;
                        }                        
                    }
                }
            }
        }
    }
}