@import "~mixins.scss";

:host {
    @include section-light;

    div {
        display: inline-block;

        h1 {
            font-size: 32px;
        }

        .projects {
            .project-subsection {
                display: flex;
                flex-flow: row nowrap;
                margin-top: 128px;

                &:first-child {
                    margin-top: 72px;
                }

                &:nth-child(even) {
                    .project-subsection-text {
                        margin-right: 0;
                        margin-left: 32px;

                        order: 1;
                    }
                }

                .project-subsection-text {
                    width: 400px;
                    margin-right: 32px;

                    h1 {
                        margin-bottom: 16px;
                    }
                }
            }
        }
    }
}