<div>
    <h1 class="title">My Projects</h1>    

    <div class="projects">
        <div class="project-subsection" *ngFor="let projectSubsection of projectSubsections">
            <div class="project-subsection-text">
                <h1 class="project-subsection-text-name">{{ projectSubsection.name }}</h1>
                <p class="project-subsection-text-description"> {{ projectSubsection.description }}</p>
                
                <div class="project-subsection-text-tags"> 
                    <div *ngFor="let tag of projectSubsection.tags">{{ tag }}</div>
                </div>

                <div class="project-subsection-text-spacer"></div>

                <div class="project-subsection-text-link-container">
                    <div *ngFor="let link of projectSubsection.links"
                    class="project-subsection-text-link">
                        <a target="_blank" [href]="link.url">{{ link.text }}</a>
                    </div>
                </div>
            </div>

            <app-projects-section-screenshot
            [image]="projectSubsection.image">
            </app-projects-section-screenshot>
        </div>
    </div>
</div>