@import "~mixins.scss";

:host {
    @include section-dark;

    .container {
        display: inline-block;

        h1 {
            font-size: 32px;
            margin-bottom: 32px;
        }

        h2 {
            font-size: 22px;
            margin-bottom: 8px;
            text-align: left;
        }
    }
}