@import "~mixins.scss";

:host {
    @include section-dark;
    box-sizing: border-box;
    padding: 0;

    .container {
        display: inline-block;

        .container-inner {
            display: flex;
            flex-flow: column nowrap;
            height: 100vh;
            padding: 48px 0;
            box-sizing: border-box;

            h1 {
                font-size: 32px;
                margin-bottom: 64px;
                flex: 1;
            }

            h2 {
                font-size: 22px;
                margin-bottom: 8px;
                text-align: left;
            }

            .copyright {
                font-size: 18px;
                color: rgba($text-color, 0.4);
            }

            .spacer {
                flex: 1;
            }

            .subsection-container {
                display: flex;
                flex-flow: row nowrap;
                // margin-bottom: 64px + 32px;
                
                .subsection {
                    margin-left: 16px;
                    margin-right: 16px;
                    vertical-align: top;
                    text-align: center;
                    width: 400px;

                    &:first-child {
                        margin-left: 0;
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    .contact-info {
                        margin-bottom: 32px;
                        text-align: left;
                        box-sizing: border-box;
                        background-color: rgba($text-color, 0.1);
                        padding: 10px 14px;
                        border-radius: 8px;        
                        font-size: 20px;
                        line-height: 1.6;
                        color: rgba($text-color, 0.4);

                        .name {
                            color: $accent-color;
                        }

                        .link {
                            cursor: pointer;
                            color: rgba($text-color, 0.4);
                            text-decoration: none;

                            &:hover {
                                text-decoration: underline !important;
                            }
                        }

                        .contact-info-note {
                            margin-top: 16px;
                            font-size: 18px;
                        }
                    }
                }
            }

            @media (max-width: 1400px) {
                .subsection-container {
                    .subsection {
                        width: 300px;
                    }
                }

                @media (max-width: 964px) {
                    height: auto;

                    .subsection-container {
                        flex-flow: column nowrap;
                        
                        .subsection {
                            width: 400px;
                            margin-left: 0;
                            margin-right: 0;
                            margin-bottom: 64px;

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }

                    .copyright {
                        margin-top: 32px;
                        max-width: 400px;
                    }

                    @include mobile {
                        .subsection-container {
                            width: 100vw;

                            padding-left: 32px !important;
                            padding-right: 32px  !important;
                            box-sizing: border-box;

                            .subsection {
                                width: 100%;
                            }
                        }

                        .copyright {
                            padding: 0 32px;
                            max-width: 100vw;
                        }
                    }
                }
            }
        }
	}
}