@import "~mixins.scss";

:host {
    @include section-dark;

    .container {
        display: inline-block;

        h1 {
            font-size: 32px;
            margin-bottom: 32px;
        }

        h2 {
            font-size: 22px;
            margin-bottom: 8px;
            text-align: left;
        }

        div {
            display: inline-block;
            margin-right: 32px;
            vertical-align: top;
            text-align: left;

            &:last-child {
                margin-right: 0;
            }

            .contact-info {
                font-size: 20px;
                line-height: 1.6;
                color: rgba($text-color, 0.5);

                .name {
                    color: $accent-color;
                }
            }
        }
    }
}