@import "~mixins.scss";

$size: 70vmin;

:host {
    @include center-absolute;
    @include noselect;

    canvas {
        cursor: pointer;
        width: $size !important;
        height: $size !important;
    }
}