@import "~mixins.scss";

$size: 67.5vmin;

:host {
    @include noselect;

    canvas {
        @include center-absolute;

        cursor: pointer;
        width: $size !important;
        height: $size !important;
    }
}