<form id="note-form" (submit)="onSubmit($event)" [ngClass]="formDisabled ? 'disabled' : ''">
    <input type="text" placeholder="Your name" [(ngModel)]="note.sender" name="sender">
    <input type="text" placeholder="Email address" [(ngModel)]="note.email" name="email">
    <textarea form="note-form" placeholder="Note" [(ngModel)]="note.text" name="text"></textarea>

    <div class="buttons">
        <input type="button" class="clear" value="Clear" (click)="onClear($event)">
        <button #sendButton class="send">
            <img [ngStyle]="loaderStyle" src="assets/loading.svg">
            <div [ngStyle]="sendButtonTextStyle">Send</div>
        </button>
    </div>
</form>