@import "~mixins.scss";

$red: #d64444;

:host {
    .disabled {
        input,
        textarea,
        button,
        &:not(form) {
            background-color: rgba($text-color, 0.05) !important;
            pointer-events: none;
        }
    }

    form {
        display: flex;
        flex-flow: column nowrap;

        .ng-touched.ng-invalid {
            border: 1px solid $red;
        }

        textarea {
            min-height: 200px;
        }

        input[type=text], 
        input[type=email], 
        textarea {
            box-sizing: border-box;            
            cursor: pointer;
            resize: none;

            display: block;
            width: 100%;
            padding: 10px 14px;
            margin-bottom: 8px;
            outline: 0;
            border: 0;
            border-radius: 8px;
            font-size: 20px;
            font-family: "Noto Sans", sans-serif;
            color: $text-color;
            background-color: rgba($text-color, 0.1);
            border: 1px solid transparent;
            transition: background 300ms ease,
                        border 300ms ease;

            &:hover {
                background-color: rgba($text-color, 0.2);
            }

            &:active {
                background-color: rgba($text-color, 0.3);           
            }
        }

        .buttons {
            display: flex;
            flex-flow: row nowrap;
            font-size: 0;

            .status-container {
                text-align: left;
                flex: 1;

                .status {
                    @include center-vertical;

                    opacity: 0;
                    font-size: 18px;
                    color: $accent-color;                    
                    transition: opacity 300ms ease;
                }
            }

            .clear {
                color: $red;
                padding: 10px 14px;
            }

            .send {
                color: $accent-color;
                padding: 0 !important;
                text-align: left;
                
                img {
                    position: absolute;
                    width: 44px;
                }

                div {
                    padding: 10px 14px;
                    text-align: center;
                }

                img, div {
                    transition: opacity 300ms ease;                    
                }
            }

            .clear, .send {
                @include noselect;

                cursor: pointer;
                display: inline-block;
                margin-right: 8px;
                outline: 0;
                border: 0;
                border-radius: 8px;
                font-size: 18px;
                font-family: "Noto Sans", sans-serif;
                background-color: rgba($text-color, 0.1);                    
                transition: background 300ms ease;

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    background-color: rgba($text-color, 0.2);
                }

                &:active {
                    background-color: rgba($text-color, 0.3);           
                }
            }
        }
	}
}