<form id="note-form"
[formGroup]="noteForm"
[class.disabled]="formDisabled"
(submit)="onSubmit($event)">
    <input
    type="text"  
    placeholder="Your name" 
    formControlName="sender">

    <input
    type="text" 
    placeholder="Email address"
    formControlName="email">

    <textarea
    form="note-form"
    placeholder="Note"
    formControlName="text">
    </textarea>

    <div class="buttons">
        <div class="status-container">
            <p class="status">Test</p>
        </div>

        <input type="button" class="clear" value="Clear" (click)="onClear($event)">
        <button #sendButton class="send" [class.disabled]="!noteForm.valid">
            <img [ngStyle]="loaderStyle" src="assets/img/loading.svg">
            <div [ngStyle]="sendButtonTextStyle" >Send</div>
        </button>
    </div>
</form>