@import "~mixins.scss";

$padding: 4.25vw;

:host {
    @include noselect;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: $padding;
    color: $text-color;
    font-size: 0;

    .title {
        font-family: "Source Code Pro", sans-serif;

        h1 {
            font-size: 20px;
            font-weight: normal;
            color: $accent-color;
        }

        p {
            font-size: 16px;
            opacity: 0.75;
        }
    }

    .links {
        .links-inner {
            @media (min-width: 335px) {
                @include center-vertical;
            }

            display: inline-block;            

            a {
                padding: 8px 0;
                margin-right: 20px;
                font-size: 18px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    @include mobile {
        flex-flow: column nowrap;
        text-align: center;

        .title {
            margin-bottom: $padding * 2;
        }

        .links {
            text-align: center;
            width: calc(100vw - $padding * 2);
        }
    }

    @media (max-width: 335px) {
        .title {
            display: none;
        }

        .links {
            .links-inner {
                display: grid;
                grid: 1fr 1fr / 1fr 1fr;
            }

            a {
                display: block;
                margin-right: 0 !important;
            }
        }
    }
}