@import "~mixins.scss";

$titlebar-color: $background-color;
$titlebar-height: 38px;
$titlebar-button-size: 16px;
$screenshot-aspect-ratio: 16 / 9;
$screenshot-width: 666px;

:host {
    display: table;    
    font-size: 0;
    overflow: hidden;
    box-sizing: border-box;

    img {
        border: 0;
        outline: 0;

		border-radius: 14px;				
        background-color: gray;
        width: $screenshot-width;
        height: (1 / $screenshot-aspect-ratio) * $screenshot-width;
    }

    @media (max-width: 1100px) {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    @include mobile {
        position: initial !important;
        transform: unset !important;

		width: calc(100vw - 64px);
		height: calc((1 / #{$screenshot-aspect-ratio}) * (100vw - 64px));
		margin-left: 32px;
		
		img {
			width: calc(100vw - 64px);
			height: calc((1 / #{$screenshot-aspect-ratio}) * (100vw - 64px));
		}
    }
}